:rotating_light: *[Alert]*{{- with index . "id" -}} *{{ . }}*{{- end }}
*Severity:* {{- $sev := index . "severity" -}}
*Time:* {{ (index . "from").Format "2006-01-02 15:04:05" }}{{if not (index . "to").IsZero}} — {{ (index . "to").Format "2006-01-02 15:04:05" }}{{end}}
*Details:*
{{- range $key, $value := . }}
{{- if and (ne $key "id") (ne $key "severity") (ne $key "from") (ne $key "to") (ne $key "description") }}
• {{$key}}: `{{$value}}`
{{- end }}
{{- end }}
